:root {
  --course-ground-bg-color: #e1e9e7;
  --course-ground-border-color: #00c28d;
  --course-ground-box-shadow-color: #595c5c46;
}
.course-ground {
  position: relative;

  border-radius: 2.75rem;
  border: 0.75rem solid var(--course-ground-border-color);

  background-color: var(--course-ground-bg-color);

  transition: all 150ms ease-out;

  .course-corner {
    position: absolute;
    width: 0;
    height: 0;

    &-tl {
      top: 0;
      left: 0;
    }

    &-tr {
      top: 0;
      right: 0;
    }

    &-bl {
      bottom: 0;
      left: 0;
    }

    &-br {
      bottom: 0;
      right: 0;
    }
  }
}

.course-small {
  width: 25rem;
  height: 14rem;
}

.course-tilt-active {
  box-shadow: 0 4px 20px 0px var(--course-ground-box-shadow-color);
}

.course-flag-hole {
  position: absolute;
  top: calc(50% - 25px);
  translate: 0 -50%;
  right: -4rem;
  width: 7.5rem;
  height: 7.5rem;
}
